.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-background-color: rgba(73, 77, 78, 0.5);
}

.date-picker {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.text-field {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.label-title {
    -fx-font-size: 20px;
}